#navbar {
	background-color: #0000d6;
	opacity: 0.9;
}
.nav-wrapper {
	margin-left: 30px;
	margin-right: 30px;
}
.container {
	margin-top: 60px;
}
.footer {
  	position:absolute;
    bottom:0;
    width:100%;
}
.footer .container {
	text-align: center;
}
.footer .container #rodapetext {
	color: #212121;
	font-weight: bold;
}